{% extends 'base.html' %}
{% load static%}
{% block content %}
	 <div class="content-grid">
		 {% if object_list %}
			{% for each in index_post_list %}
				 <div class="content-grid-info">
					 <img src="{% static 'images/post1.jpg' %}" alt=""/>
					 <div class="post-info">
					 <h4><a href="{% url 'post_detail_view'  slug=each.slug %}">{{each.title}}</a> {{each.published_at}} </h4>
					 <p>{{each.content}}</p>
					 <a href="{% url 'post_detail_view'  slug=each.slug %}"><span></span>READ MORE</a>
					 </div>
				 </div>
			{% endfor %}
		{% else %}
			No Post Found
		{% endif %}
	 </div>
{% endblock %}